In [8]:
# Part One: Data Preprocessing
# This notebook is used for instructing the remaining to-do-list
# This notebook is the last version of MinModel
# This notebook will not continue to update
# If you want to add your contributions into github, you can upload (or refresh) your notebook or code into the 'Updating' folder
# You can see the latest version of the updated code in the 'Updated' folder

import pandas as pd
import numpy as np
import pickle

In [16]:
def save_pkl(file_dir, data):
    f = open(file_dir,"wb")
    pickle.dump(data, f, protocol=4)
    f.close()
    
def read_pkl(file_dir):
    f = open(file_dir,"rb")
    data = pickle.load(f)
    return data

In [9]:
Grid = pd.read_csv("London/London_historical_meo_grid.csv")
Grid.head(3)

,stationName,longitude,latitude,utc_time,temperature,pressure,humidity,wind_direction,wind_speed/kph
0,london_grid_000,-2.0,50.5,2017-01-01 00:00:00,9.36,1024.81,77.90,250.88,23.74
1,london_grid_001,-2.0,50.6,2017-01-01 00:00:00,9.09,1024.25,78.96,249.86,21.81
2,london_grid_002,-2.0,50.7,2017-01-01 00:00:00,8.30,1022.55,82.13,245.35,16.08

In [17]:
Stations = pd.read_csv("London/London_AirQuality_Stations.csv", index_col=0)
Stations.sort_values(by=['Latitude'])

,api_data,need_prediction,historical_data,Latitude,Longitude,SiteType,SiteName
ST5,True,True,True,51.389287,-0.141662,Industrial,Sutton - Beddington Lane north
CR8,NaN,NaN,True,51.410039,-0.127523,Urban Background,Croydon - Norbury Manor
TD5,True,NaN,True,51.425256,-0.345608,Suburban,Richmond Upon Thames - Bushy Park
GR4,True,True,True,51.452580,0.070766,Suburban,Greenwich - Eltham
GB0,NaN,NaN,True,51.456300,0.085606,Roadside,Greenwich and Bexley - Falconwood FDMS
GR9,True,True,True,51.456357,0.040725,Roadside,Greenwich - Westhorne Avenue
BX9,True,NaN,True,51.465983,0.184877,Suburban,Bexley - Slade Green FDMS
BX1,True,NaN,True,51.465983,0.184877,Suburban,Bexley - Slade Green
LW2,True,True,True,51.474954,-0.039641,Roadside,Lewisham - New Cross
GN3,True,True,True,51.486957,0.095111,Roadside,Greenwich - Plumstead High Street
LH0,NaN,NaN,True,51.488780,-0.441627,Urban Background,Hillingdon - Harlington
GN0,True,True,True,51.490532,0.074003,Roadside,Greenwich - A206 Burrage Grove
CT3,True,NaN,True,51.513847,-0.077766,Urban Background,City of London - Sir John Cass School
CT2,True,NaN,True,51.514525,-0.104516,Kerbside,City of London - Farringdon Street
TH4,True,True,True,51.515046,-0.008418,Roadside,Tower Hamlets - Blackwall
HV1,True,True,True,51.520787,0.205461,Roadside,Havering - Rainham
KC1,NaN,NaN,True,51.521047,-0.213492,Urban Background,Kensington and Chelsea - North Ken
KF1,True,True,True,51.521047,-0.213492,Urban Background,Kensington and Chelsea - North Ken FIDAS
BL0,True,True,True,51.522287,-0.125848,Urban Background,Camden - Bloomsbury
MY7,True,True,True,51.522540,-0.154590,Kerbside,Westminster - Marylebone Road FDMS
CD9,True,True,True,51.527707,-0.129053,Roadside,Camden - Euston Road
CD1,True,True,True,51.544219,-0.175284,Kerbside,Camden - Swiss Cottage
RB7,True,NaN,True,51.569484,0.082907,Urban Background,Redbridge - Ley Street
HR1,NaN,NaN,True,51.617327,-0.298775,Urban Background,Harrow - Stanmore

In [18]:
# The purpose of this part is to find the neighbour stations of each station

# import math
station_position = {}
station_name = Stations.index.values
station_Latitude = np.asarray(Stations['Latitude'].values)
station_Longitude = np.asarray(Stations['Longitude'].values)
for i in range(len(station_name)):  
    name = station_name[i]
    if name!= 'KC1' and name!= 'BX9' and name!= 'CT2':
        point_list = []
        point_dist = []
        temp_name_0 = []
        temp_dist_0 = []
        temp_name_1 = []
        temp_dist_1 = []
        temp_name_2 = []
        temp_dist_2 = []
        temp_name_3 = []
        temp_dist_3 = []
        # angle_list = []
        dist_Latitude = station_Latitude - station_Latitude[i]
        dist_Longitude = station_Longitude - station_Longitude[i]
        dist_list = np.sqrt(np.square(dist_Latitude) + np.square(dist_Longitude))
        for j in range(len(station_name)):
            if j!=i and station_name[j] != 'BX9' and station_name[j] != 'KC1' and station_name[j] != 'CT2':
                # if  dist_list[j]< 0.2:
                    # tan_list.append(dist_Latitude[j]/dist_Longitude[j])
                    lat = dist_Latitude[j]
                    lon = dist_Longitude[j]
                    if(lat>=0 and lon>=0):
                        temp_name_0.append(station_name[j])
                        temp_dist_0.append(dist_list[j])
                    elif(lat>=0 and lon<0):
                        temp_name_1.append(station_name[j])
                        temp_dist_1.append(dist_list[j])      
                    elif(lat<0 and lon<0):
                        temp_name_2.append(station_name[j])
                        temp_dist_2.append(dist_list[j])
                    elif(lat<0 and lon>=0):
                        temp_name_3.append(station_name[j])
                        temp_dist_3.append(dist_list[j])
                    # angle_list.append(math.atan(dist_Latitude[j]/dist_Longitude[j]))
                    # print(station_name[j],dist_list[j],math.atan(dist_Latitude[j]/dist_Longitude[j]))
        if(len(temp_name_0)):
            j = temp_dist_0.index(min(temp_dist_0))
            point_list.append(temp_name_0[j])
            point_dist.append(temp_dist_0[j])
        if(len(temp_name_1)):
            j = temp_dist_1.index(min(temp_dist_1))
            point_list.append(temp_name_1[j])
            point_dist.append(temp_dist_1[j])
        if(len(temp_name_2)):
            j = temp_dist_2.index(min(temp_dist_2))
            point_list.append(temp_name_2[j])
            point_dist.append(temp_dist_2[j])
        if(len(temp_name_3)):
            j = temp_dist_3.index(min(temp_dist_3))
            point_list.append(temp_name_3[j])
            point_dist.append(temp_dist_3[j])
        print(name, 'is', len(point_list))
        # angle_list = np.arctan(tan_list)
        # print(angle_list)
        print(point_list)
        print(point_dist)
        station_position[name] = [station_Latitude[i],station_Longitude[i],point_list,point_dist]

BX1 is 3
['HV1', 'GN3', 'GB0']
[0.05854214692001993, 0.09218381043704524, 0.09974227977013109]
BL0 is 4
['RB7', 'CD9', 'KF1', 'CT3']
[0.21402438249322162, 0.006296476795510455, 0.08765291493385774, 0.04881741355178004]
CD9 is 4
['RB7', 'CD1', 'MY7', 'BL0']
[0.21603866996190044, 0.049091191670160975, 0.026054210045526143, 0.006296476795510455]
CD1 is 4
['RB7', 'HR1', 'KF1', 'MY7']
[0.259424699407525, 0.14350890824266174, 0.04468573745975535, 0.029970329944796262]
CT3 is 4
['TH4', 'BL0', 'CR8', 'LW2']
[0.06935755329610337, 0.04881741355178004, 0.11511702276146805, 0.054462563547024695]
CR8 is 3
['LW2', 'MY7', 'ST5']
[0.10925750843305446, 0.11571126777457238, 0.025110705756424743]
GN0 is 4
['RB7', 'TH4', 'GR4', 'GN3']
[0.07945287966747655, 0.0859898077631167, 0.038089794866871085, 0.02140860315387216]
GR4 is 3
['GB0', 'GR9', 'CR8']
[0.01529915030320342, 0.03027750666749245, 0.20280104586022082]
GN3 is 4
['HV1', 'GN0', 'GB0', 'BX1']
[0.11541905231848792, 0.02140860315387216, 0.03209667699311425, 0.09218381043704524]
GR9 is 4
['GN0', 'TH4', 'CR8', 'GR4']
[0.04770069086501618, 0.0765473812715316, 0.1745071535152641, 0.03027750666749245]
GB0 is 3
['GN3', 'GN0', 'GR4']
[0.03209667699311425, 0.03614497797758632, 0.01529915030320342]
HR1 is 2
['LH0', 'KF1']
[0.19217446529911617, 0.1286197992139755]
HV1 is 2
['RB7', 'BX1']
[0.13187372587568882, 0.05854214692001993]
LH0 is 2
['HR1', 'TD5']
[0.19217446529911617, 0.11512986568266288]
KF1 is 4
['CD1', 'HR1', 'TD5', 'CT3']
[0.04468573745975535, 0.1286197992139755, 0.16318865609275077, 0.13591727340338544]
LW2 is 4
['TH4', 'CT3', 'CR8', 'GR9']
[0.05081561805856587, 0.054462563547024695, 0.10925750843305446, 0.08248965004774675]
RB7 is 3
['HR1', 'GN0', 'GN3']
[0.38466925116891615, 0.07945287966747655, 0.08342473385845567]
TD5 is 3
['KF1', 'LH0', 'ST5']
[0.16318865609275077, 0.11512986568266288, 0.20709433211509742]
ST5 is 2
['CR8', 'MY7']
[0.025110705756424743, 0.1338788038691523]
TH4 is 4
['RB7', 'BL0', 'LW2', 'GR9']
[0.10632001549719142, 0.11765253390111054, 0.05081561805856587, 0.0765473812715316]
MY7 is 4
['CD9', 'CD1', 'KF1', 'BL0']
[0.026054210045526143, 0.029970329944796262, 0.058921064927087895, 0.028743113488277496]

In [115]:
# print(station_position)
for name in station_position.keys():
    print(name)
    print(station_position[name])

BX1
[51.46598327, 0.184877127, ['HV1', 'GN3', 'GB0'], [0.05854214692001993, 0.09218381043704524, 0.09974227977013109]]
BL0
[51.522287, -0.12584800000000002, ['RB7', 'CD9', 'KF1', 'CT3'], [0.21402438249322162, 0.006296476795510455, 0.08765291493385774, 0.04881741355178004]]
CD9
[51.52770662, -0.129053205, ['RB7', 'CD1', 'MY7', 'BL0'], [0.21603866996190044, 0.049091191670160975, 0.026054210045526143, 0.006296476795510455]]
CD1
[51.544219, -0.175284, ['RB7', 'HR1', 'KF1', 'MY7'], [0.259424699407525, 0.14350890824266174, 0.04468573745975535, 0.029970329944796262]]
CT3
[51.51384718, -0.077765682, ['TH4', 'BL0', 'CR8', 'LW2'], [0.06935755329610337, 0.04881741355178004, 0.11511702276146805, 0.054462563547024695]]
CR8
[51.410039000000005, -0.127523, ['LW2', 'MY7', 'ST5'], [0.10925750843305446, 0.11571126777457238, 0.025110705756424743]]
GN0
[51.490532, 0.074003, ['RB7', 'TH4', 'GR4', 'GN3'], [0.07945287966747655, 0.0859898077631167, 0.038089794866871085, 0.02140860315387216]]
GR4
[51.45258, 0.070766, ['GB0', 'GR9', 'CR8'], [0.01529915030320342, 0.03027750666749245, 0.20280104586022082]]
GN3
[51.486957000000004, 0.095111, ['HV1', 'GN0', 'GB0', 'BX1'], [0.11541905231848792, 0.02140860315387216, 0.03209667699311425, 0.09218381043704524]]
GR9
[51.456357000000004, 0.040725, ['GN0', 'TH4', 'CR8', 'GR4'], [0.04770069086501618, 0.0765473812715316, 0.1745071535152641, 0.03027750666749245]]
GB0
[51.4563, 0.08560599999999999, ['GN3', 'GN0', 'GR4'], [0.03209667699311425, 0.03614497797758632, 0.01529915030320342]]
HR1
[51.617327, -0.298775, ['LH0', 'KF1'], [0.19217446529911617, 0.1286197992139755]]
HV1
[51.52078746, 0.20546070600000002, ['RB7', 'BX1'], [0.13187372587568882, 0.05854214692001993]]
LH0
[51.48878, -0.44162700000000005, ['HR1', 'TD5'], [0.19217446529911617, 0.11512986568266288]]
KF1
[51.52104675, -0.21349214, ['CD1', 'HR1', 'TD5', 'CT3'], [0.04468573745975535, 0.1286197992139755, 0.16318865609275077, 0.13591727340338544]]
LW2
[51.474954, -0.039641, ['TH4', 'CT3', 'CR8', 'GR9'], [0.05081561805856587, 0.054462563547024695, 0.10925750843305446, 0.08248965004774675]]
RB7
[51.56948433, 0.082907475, ['HR1', 'GN0', 'GN3'], [0.38466925116891615, 0.07945287966747655, 0.08342473385845567]]
TD5
[51.42525604, -0.345608291, ['KF1', 'LH0', 'ST5'], [0.16318865609275077, 0.11512986568266288, 0.20709433211509742]]
ST5
[51.3892869, -0.141661525, ['CR8', 'MY7'], [0.025110705756424743, 0.1338788038691523]]
TH4
[51.51504617, -0.008418493, ['RB7', 'BL0', 'LW2', 'GR9'], [0.10632001549719142, 0.11765253390111054, 0.05081561805856587, 0.0765473812715316]]
MY7
[51.52254, -0.15459, ['CD9', 'CD1', 'KF1', 'BL0'], [0.026054210045526143, 0.029970329944796262, 0.058921064927087895, 0.028743113488277496]]

In [19]:
save_pkl("London/station_processing.pkl", station_position)

In [20]:
station_position = read_pkl("London/station_processing.pkl")

In [21]:
# the NaN situation of the first original air quality csv file provided by the KDD website

Airs = pd.read_csv("London/London_historical_aqi_forecast_stations_20180331.csv")
missing_values_count = Airs.isnull().sum()
missing_values_count

Unnamed: 0                0
MeasurementDateGMT        0
station_id                0
PM2.5 (ug/m3)         18676
PM10 (ug/m3)          14553
NO2 (ug/m3)           25445
dtype: int64

In [22]:
Airs.head(3)

,Unnamed: 0,MeasurementDateGMT,station_id,PM2.5 (ug/m3),PM10 (ug/m3),NO2 (ug/m3)
0,0,2017/1/1 0:00,CD1,40.0,44.4,36.6
1,1,2017/1/1 1:00,CD1,31.6,34.4,46.2
2,2,2017/1/1 2:00,CD1,24.7,28.1,38.3

In [24]:
# the NaN situation of the second original air quality csv file provided by the KDD website

Airs = pd.read_csv("London/London_historical_aqi_other_stations_20180331.csv")
missing_values_count = Airs.isnull().sum()
missing_values_count

Station_ID             22959
MeasurementDateGMT     22958
PM2.5 (ug/m3)          53621
PM10 (ug/m3)          102438
NO2 (ug/m3)            91703
Unnamed: 5            141633
Unnamed: 6            141633
dtype: int64

In [27]:
# The purpose of this part is to merge two original air quality csv files provided by the KDD website

df = pd.read_csv("London/London_historical_aqi_forecast_stations_20180331.csv")
df.rename(columns={'NO2 (ug/m3)': 'NO2_Concentration',
                   'PM10 (ug/m3)': 'PM10_Concentration',
                   'PM2.5 (ug/m3)': 'PM25_Concentration',
                   'MeasurementDateGMT': 'time'
                  }, inplace=True)
group_ = df.groupby("station_id")
for name, g in group_:
    print(name)

df1 = pd.read_csv("London/London_historical_aqi_other_stations_20180331.csv")
df1.rename(columns={'NO2 (ug/m3)': 'NO2_Concentration',
                    'PM10 (ug/m3)': 'PM10_Concentration',
                    'PM2.5 (ug/m3)': 'PM25_Concentration',
                    'MeasurementDateGMT': 'time',
                    'Station_ID': 'station_id'
                   }, inplace=True)
df = pd.concat([df, df1])

df['time'] = pd.to_datetime(df['time'])
df.index = df['time']
df['time_week'] = df.index.map(lambda x: x.weekday)
df['time_year'] = df.index.map(lambda x: x.year)
df['time_month'] = df.index.map(lambda x: x.month)
df['time_day'] = df.index.map(lambda x: x.day)
df['time_hour'] = df.index.map(lambda x: x.hour)
Airs = df[["station_id", "PM25_Concentration", "PM10_Concentration", "NO2_Concentration",
           'time_year', 'time_month', 'time_week', 'time_day', 'time_hour']]

Airs = Airs.sort_index()
group = Airs.groupby("station_id")
# print(group)
station_group = {}
for name, g in group:
    if name != 'CT2':
        station_group[name] = g.sort_index()[:10897]
#         print(name)
#         print(len(station_group[name]))

BL0
CD1
CD9
GN0
GN3
GR4
GR9
HV1
KF1
LW2
MY7
ST5
TH4

/home/liu/anaconda3/envs/img/lib/python3.6/site-packages/ipykernel_launcher.py:18: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [28]:
# The purpose of this part is to merge two duplicated station pairs

def duplicate_padding(station_group, attr_need, remove_station, keep_station):
    keep_ = station_group[keep_station][attr_need]
    keep_values = keep_.values
    remove_ = station_group[remove_station][attr_need]
    remove_values = remove_.values
    print (keep_values.shape, remove_values.shape)
    print(keep_.isnull().sum())
    print(remove_.isnull().sum())
    for i in range(remove_values.shape[0]):
        for j in range(remove_values.shape[1]):
            if np.isnan(keep_values[i, j]):
                keep_values[i, j] = remove_values[i, j]
    station_group[keep_station].loc[:, attr_need] = keep_values
    keep_ = station_group[keep_station][attr_need]
    print(keep_.isnull().sum())
    print(len(station_group))
    station_group.pop(remove_station)
    print(len(station_group))
    
attr_need = ["PM25_Concentration", "PM10_Concentration", "NO2_Concentration"]
duplicate_padding(station_group, attr_need, "KC1", "KF1")
duplicate_padding(station_group, attr_need, "BX9", "BX1")

(10897, 3) (10897, 3)
PM25_Concentration     4604
PM10_Concentration     4604
NO2_Concentration     10897
dtype: int64
PM25_Concentration     1906
PM10_Concentration    10643
NO2_Concentration        80
dtype: int64
PM25_Concentration     694
PM10_Concentration    4350
NO2_Concentration       80
dtype: int64
23
22
(10897, 3) (10897, 3)
PM25_Concentration    6706
PM10_Concentration      65
NO2_Concentration      444
dtype: int64
PM25_Concentration      262
PM10_Concentration    10897
NO2_Concentration     10897
dtype: int64
PM25_Concentration    256
PM10_Concentration     65
NO2_Concentration     444
dtype: int64
22
21

In [29]:
# padding the NaN value with neighbour values and historical values

def neighbour_padding(station_group, attr_need, station_position):
    normal_change_health = []# the change% when the previous value is smaller than 20
    normal_change_else = []# the change% when the previous value is bigger than 20
    for j in range(len(attr_need)):# calculate the change% in the normal situation 
        change_list_health = []
        change_list_else = []
        for name in station_position.keys():
            keep_values = station_group[name][attr_need].values
            pre_nan = True
            for i in range(keep_values.shape[0]):
                if np.isnan(keep_values[i, j]):
                    this_nan = True
                else:
                    if(not pre_nan):
                        pre_value = keep_values[i-1, j]
                        this_value = keep_values[i, j]
                        if(pre_value>0 and this_value>0):
                            change_percent = (this_value - pre_value) / pre_value
                            if(change_percent<0):
                                change_percent = - change_percent
                            if(pre_value<20):
                                change_list_health.append(change_percent)
                            else:
                                change_list_else.append(change_percent)
                    this_nan = False
                pre_nan = this_nan
        total_number = len(change_list_health)
        average = sum(change_list_health)/total_number
        normal_number = sum(i < average*2  for i in change_list_health)
        # print(attr_need[j],total_number,max(change_list),min(change_list),normal_number)
        print(average,normal_number/total_number)
        normal_change_health.append(normal_number*2)    
        
        total_number = len(change_list_else)
        average = sum(change_list_else)/total_number
        normal_number = sum(i < average*2  for i in change_list_else)
        # print(attr_need[j],total_number,max(change_list),min(change_list),normal_number)
        print(average,normal_number/total_number)
        normal_change_else.append(normal_number*2) 
    
    for name in station_position.keys():# padding the nan value
        print(name)
        neighbour_list = station_position[name][2]
        neighbour_dist = station_position[name][3]
        # print(neighbour_list)
        # print(neighbour_dist)
        
        keep_ = station_group[name][attr_need]
        print(keep_.isnull().sum())
        keep_values = keep_.values           
        neighbour_values_list = []
        for neighbour in neighbour_list:
            neighbour_values_list.append(station_group[neighbour][attr_need].values)

        for j in range(keep_values.shape[1]):
            pre_nan = True
            for i in range(keep_values.shape[0]):
                if np.isnan(keep_values[i, j]):# this value is empty
                    this_nan = True
                    temp_list = []
                    temp_dist = []
                    for k in range(len(neighbour_values_list)):# find neighbour values which are no empty
                        if(not np.isnan(neighbour_values_list[k][i, j])):
                            temp_list.append(neighbour_values_list[k][i, j])
                            temp_dist.append(neighbour_dist[k])
                    if(len(temp_list)):# if exists neighbour values which are no empty
                        temp_normal = min(temp_dist) + max(temp_dist)
                        temp_result = 0
                        temp_ratio = 0
                        for k in range(len(temp_list)): # for each neighbour value
                            # print(temp_list[k])
                            temp_result = temp_result + temp_list[k] * (temp_normal - temp_dist[k])
                            temp_ratio = temp_ratio + (temp_normal - temp_dist[k])
                            # print('is',temp_result/temp_ratio)
                        temp_result = temp_result/temp_ratio # calculate the weighted average result, the weights are related to the distance of each point
                        
                        if(pre_nan):# if the previous value is empty
                            keep_values[i, j] = temp_result
                        else:# if the previous value exists
                            pre_value = keep_values[i-1, j]
                            if(pre_value>0 and temp_result>0):# calculate the change% between the previous value and the weighted average result
                                change_percent = (temp_result - pre_value) / pre_value
                                if(change_percent<0):# if the previous value bigger than the weighted average result
                                    change_percent = - change_percent
                                    if((pre_value<20 and change_percent < normal_change_health[j])
                                      or(pre_value>=20 and change_percent < normal_change_else[j])):
                                        keep_values[i, j] = temp_result
                                    else:# if the weighted average result is smaller than the normal situation
                                        if(pre_value<20):
                                            keep_values[i, j] = pre_value * (1 - normal_change_health[j]) 
                                        else:
                                            keep_values[i, j] = pre_value * (1 - normal_change_else[j]) 
                                else:# if the previous value smaller than the weighted average result
                                    if((pre_value<20 and change_percent < normal_change_health[j])
                                      or(pre_value>=20 and change_percent < normal_change_else[j])):
                                        keep_values[i, j] = temp_result
                                    else:# if the weighted average result is bigger than the normal situation
                                        if(pre_value<20):
                                            keep_values[i, j] = pre_value * (1 + normal_change_health[j]) 
                                        else:
                                            keep_values[i, j] = pre_value * (1 + normal_change_else[j])   
                            else:
                                keep_values[i, j] = temp_result
                    else:# if all of the neighbour values are no empty
                        pass         
                else:# this value is no empty
                    this_nan = False
                pre_nan = this_nan
        station_group[name].loc[:, attr_need] = keep_values
        keep_ = station_group[name][attr_need]
        print(keep_.isnull().sum())
    
attr_need = ["PM25_Concentration", "PM10_Concentration", "NO2_Concentration"]
neighbour_padding(station_group, attr_need, station_position)

0.35897586634299006 0.9199390060289209
0.1405961378432799 0.87744542754799
0.3002761220654578 0.912440613748847
0.1578368191346502 0.8819678758571362
0.27888462410942555 0.8915316503391107
0.16369228051884563 0.8821288442440128
BX1
PM25_Concentration    256
PM10_Concentration     65
NO2_Concentration     444
dtype: int64
PM25_Concentration    0
PM10_Concentration    1
NO2_Concentration     0
dtype: int64
BL0
PM25_Concentration    651
PM10_Concentration    559
NO2_Concentration     148
dtype: int64
PM25_Concentration    1
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
CD9
PM25_Concentration    1152
PM10_Concentration    1143
NO2_Concentration       58
dtype: int64
PM25_Concentration    1
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
CD1
PM25_Concentration    294
PM10_Concentration    739
NO2_Concentration     921
dtype: int64
PM25_Concentration    1
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
CT3
PM25_Concentration    3074
PM10_Concentration     199
NO2_Concentration      138
dtype: int64
PM25_Concentration    1
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
CR8
PM25_Concentration      260
PM10_Concentration    10897
NO2_Concentration     10897
dtype: int64
PM25_Concentration     1
PM10_Concentration    19
NO2_Concentration      7
dtype: int64
GN0
PM25_Concentration    1423
PM10_Concentration     113
NO2_Concentration       42
dtype: int64
PM25_Concentration    1
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
GR4
PM25_Concentration    1898
PM10_Concentration    1275
NO2_Concentration      242
dtype: int64
PM25_Concentration    1
PM10_Concentration    1
NO2_Concentration     1
dtype: int64
GN3
PM25_Concentration     151
PM10_Concentration    1216
NO2_Concentration      128
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
GR9
PM25_Concentration     77
PM10_Concentration    260
NO2_Concentration     252
dtype: int64
PM25_Concentration    1
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
GB0
PM25_Concentration     1374
PM10_Concentration    10897
NO2_Concentration     10897
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
HR1
PM25_Concentration    8416
PM10_Concentration    8274
NO2_Concentration     8091
dtype: int64
PM25_Concentration      1
PM10_Concentration    265
NO2_Concentration      58
dtype: int64
HV1
PM25_Concentration    1341
PM10_Concentration    1300
NO2_Concentration       37
dtype: int64
PM25_Concentration    0
PM10_Concentration    1
NO2_Concentration     0
dtype: int64
LH0
PM25_Concentration    6563
PM10_Concentration    6563
NO2_Concentration     6571
dtype: int64
PM25_Concentration      0
PM10_Concentration    265
NO2_Concentration      58
dtype: int64
KF1
PM25_Concentration     694
PM10_Concentration    4350
NO2_Concentration       80
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
LW2
PM25_Concentration    2739
PM10_Concentration    1795
NO2_Concentration     1320
dtype: int64
PM25_Concentration    1
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
RB7
PM25_Concentration    980
PM10_Concentration    464
NO2_Concentration     159
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
TD5
PM25_Concentration      624
PM10_Concentration    10897
NO2_Concentration     10897
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
ST5
PM25_Concentration    2611
PM10_Concentration     721
NO2_Concentration      186
dtype: int64
PM25_Concentration     1
PM10_Concentration    19
NO2_Concentration      7
dtype: int64
TH4
PM25_Concentration    1259
PM10_Concentration     521
NO2_Concentration      317
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
MY7
PM25_Concentration      476
PM10_Concentration      307
NO2_Concentration     10897
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64

In [30]:
# padding the NaN value with the average value of the previous value and the next value

def time_padding(station_group, attr_need):
    for name in station_position.keys():# padding the nan value
        print(name)
        keep_ = station_group[name][attr_need]
        print(keep_.isnull().sum())
        keep_values = keep_.values           
        
        for j in range(keep_values.shape[1]):
            pre_nan = True
            for i in range(keep_values.shape[0]):
                if np.isnan(keep_values[i, j]):# this value is empty
                    this_nan = True
                    if(i+1 < keep_values.shape[0]):
                        if(not np.isnan(keep_values[i+1, j])):# next value exists
                            if(not pre_nan):# previous value  exists
                                temp_result = (keep_values[i+1, j] + keep_values[i-1, j]) / 2
                            else:# no previous value
                                temp_result = keep_values[i+1, j]
                            keep_values[i, j] = temp_result
                    else:# no next value
                        if(not pre_nan):# previous value  exists
                            keep_values[i, j] = keep_values[i-1, j]
                        
                else:# this value is no empty
                    this_nan = False
                pre_nan = this_nan
                
        station_group[name].loc[:, attr_need] = keep_values
        keep_ = station_group[name][attr_need]
        print(keep_.isnull().sum())
    
attr_need = ["PM25_Concentration", "PM10_Concentration", "NO2_Concentration"]
time_padding(station_group, attr_need)

BX1
PM25_Concentration    0
PM10_Concentration    1
NO2_Concentration     0
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
BL0
PM25_Concentration    1
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
CD9
PM25_Concentration    1
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
CD1
PM25_Concentration    1
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
CT3
PM25_Concentration    1
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
CR8
PM25_Concentration     1
PM10_Concentration    19
NO2_Concentration      7
dtype: int64
PM25_Concentration     0
PM10_Concentration    13
NO2_Concentration      1
dtype: int64
GN0
PM25_Concentration    1
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
GR4
PM25_Concentration    1
PM10_Concentration    1
NO2_Concentration     1
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
GN3
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
GR9
PM25_Concentration    1
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
GB0
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
HR1
PM25_Concentration      1
PM10_Concentration    265
NO2_Concentration      58
dtype: int64
PM25_Concentration      0
PM10_Concentration    257
NO2_Concentration      40
dtype: int64
HV1
PM25_Concentration    0
PM10_Concentration    1
NO2_Concentration     0
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
LH0
PM25_Concentration      0
PM10_Concentration    265
NO2_Concentration      58
dtype: int64
PM25_Concentration      0
PM10_Concentration    257
NO2_Concentration      40
dtype: int64
KF1
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
LW2
PM25_Concentration    1
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
RB7
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
TD5
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
ST5
PM25_Concentration     1
PM10_Concentration    19
NO2_Concentration      7
dtype: int64
PM25_Concentration     0
PM10_Concentration    13
NO2_Concentration      1
dtype: int64
TH4
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
MY7
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64

In [31]:
# second time of padding the NaN value with neighbour values and historical values

attr_need = ["PM25_Concentration", "PM10_Concentration", "NO2_Concentration"]
neighbour_padding(station_group, attr_need, station_position)

0.33876198231475435 0.9185414268511986
0.13790324631052367 0.8773067197503631
0.27072651946963644 0.9079914614492918
0.15249280667418993 0.8816018370329135
0.27517954964344926 0.8915541051994146
0.16137918595823464 0.8822659807226065
BX1
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
BL0
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
CD9
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
CD1
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
CT3
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
CR8
PM25_Concentration     0
PM10_Concentration    13
NO2_Concentration      1
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
GN0
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
GR4
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
GN3
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
GR9
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
GB0
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
HR1
PM25_Concentration      0
PM10_Concentration    257
NO2_Concentration      40
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
HV1
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
LH0
PM25_Concentration      0
PM10_Concentration    257
NO2_Concentration      40
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
KF1
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
LW2
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
RB7
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
TD5
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
ST5
PM25_Concentration     0
PM10_Concentration    13
NO2_Concentration      1
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
TH4
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
MY7
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
dtype: int64

In [32]:
save_pkl("London/air_processing.pkl", station_group)

In [36]:
station_group_test = read_pkl("London/air_processing.pkl")
station_group['ST5']

,station_id,PM25_Concentration,PM10_Concentration,NO2_Concentration,time_year,time_month,time_week,time_day,time_hour
time,,,,,,,,,
2017-01-01 00:00:00,ST5,25.0,29.0,14.5,2017.0,1.0,6.0,1.0,0.0
2017-01-01 01:00:00,ST5,21.0,25.0,24.0,2017.0,1.0,6.0,1.0,1.0
2017-01-01 02:00:00,ST5,20.0,23.0,28.1,2017.0,1.0,6.0,1.0,2.0
2017-01-01 03:00:00,ST5,22.0,21.0,20.6,2017.0,1.0,6.0,1.0,3.0
2017-01-01 04:00:00,ST5,22.0,26.0,34.6,2017.0,1.0,6.0,1.0,4.0
2017-01-01 05:00:00,ST5,24.0,29.0,23.8,2017.0,1.0,6.0,1.0,5.0
2017-01-01 06:00:00,ST5,16.0,23.0,17.2,2017.0,1.0,6.0,1.0,6.0
2017-01-01 07:00:00,ST5,20.0,27.0,15.2,2017.0,1.0,6.0,1.0,7.0
2017-01-01 08:00:00,ST5,20.0,25.0,20.6,2017.0,1.0,6.0,1.0,8.0
2017-01-01 09:00:00,ST5,22.0,23.0,21.7,2017.0,1.0,6.0,1.0,9.0
2017-01-01 10:00:00,ST5,9.0,17.0,18.9,2017.0,1.0,6.0,1.0,10.0
2017-01-01 11:00:00,ST5,8.0,10.0,19.6,2017.0,1.0,6.0,1.0,11.0
2017-01-01 12:00:00,ST5,11.0,10.0,19.8,2017.0,1.0,6.0,1.0,12.0
2017-01-01 13:00:00,ST5,9.0,8.0,29.0,2017.0,1.0,6.0,1.0,13.0
2017-01-01 14:00:00,ST5,11.0,13.0,28.0,2017.0,1.0,6.0,1.0,14.0
2017-01-01 15:00:00,ST5,6.0,10.0,19.0,2017.0,1.0,6.0,1.0,15.0
2017-01-01 16:00:00,ST5,5.0,7.0,16.4,2017.0,1.0,6.0,1.0,16.0
2017-01-01 17:00:00,ST5,6.0,6.0,15.8,2017.0,1.0,6.0,1.0,17.0
2017-01-01 18:00:00,ST5,6.0,7.0,19.3,2017.0,1.0,6.0,1.0,18.0
2017-01-01 19:00:00,ST5,7.0,7.0,22.0,2017.0,1.0,6.0,1.0,19.0
2017-01-01 20:00:00,ST5,10.0,7.0,20.0,2017.0,1.0,6.0,1.0,20.0
2017-01-01 21:00:00,ST5,7.0,6.0,17.3,2017.0,1.0,6.0,1.0,21.0
2017-01-01 22:00:00,ST5,9.0,10.0,20.2,2017.0,1.0,6.0,1.0,22.0
2017-01-01 23:00:00,ST5,9.0,9.0,21.0,2017.0,1.0,6.0,1.0,23.0
2017-01-02 00:00:00,ST5,7.0,12.0,18.9,2017.0,1.0,0.0,2.0,0.0
2017-01-02 01:00:00,ST5,9.0,14.0,15.1,2017.0,1.0,0.0,2.0,1.0
2017-01-02 02:00:00,ST5,6.0,14.0,12.8,2017.0,1.0,0.0,2.0,2.0
2017-01-02 03:00:00,ST5,3.0,12.0,13.2,2017.0,1.0,0.0,2.0,3.0
2017-01-02 04:00:00,ST5,8.0,12.0,14.7,2017.0,1.0,0.0,2.0,4.0
2017-01-02 05:00:00,ST5,9.0,17.0,21.5,2017.0,1.0,0.0,2.0,5.0
...,...,...,...,...,...,...,...,...,...
2018-03-29 19:00:00,ST5,6.0,10.0,19.9,2018.0,3.0,3.0,29.0,19.0
2018-03-29 20:00:00,ST5,6.0,8.0,19.9,2018.0,3.0,3.0,29.0,20.0
2018-03-29 21:00:00,ST5,6.0,6.0,25.8,2018.0,3.0,3.0,29.0,21.0
2018-03-29 22:00:00,ST5,4.0,5.0,23.5,2018.0,3.0,3.0,29.0,22.0
2018-03-29 23:00:00,ST5,5.0,6.0,20.7,2018.0,3.0,3.0,29.0,23.0
2018-03-30 00:00:00,ST5,4.0,6.0,22.9,2018.0,3.0,4.0,30.0,0.0
2018-03-30 01:00:00,ST5,2.0,7.0,19.4,2018.0,3.0,4.0,30.0,1.0
2018-03-30 02:00:00,ST5,5.0,6.0,18.4,2018.0,3.0,4.0,30.0,2.0
2018-03-30 03:00:00,ST5,4.0,11.0,18.8,2018.0,3.0,4.0,30.0,3.0
2018-03-30 04:00:00,ST5,4.0,7.0,28.3,2018.0,3.0,4.0,30.0,4.0
2018-03-30 05:00:00,ST5,6.0,16.0,43.4,2018.0,3.0,4.0,30.0,5.0
2018-03-30 06:00:00,ST5,11.0,18.0,41.8,2018.0,3.0,4.0,30.0,6.0
2018-03-30 07:00:00,ST5,9.0,10.0,28.3,2018.0,3.0,4.0,30.0,7.0
2018-03-30 08:00:00,ST5,14.0,12.0,25.0,2018.0,3.0,4.0,30.0,8.0
2018-03-30 09:00:00,ST5,9.0,16.0,19.7,2018.0,3.0,4.0,30.0,9.0
2018-03-30 10:00:00,ST5,6.0,12.0,18.0,2018.0,3.0,4.0,30.0,10.0
2018-03-30 11:00:00,ST5,14.0,9.0,28.4,2018.0,3.0,4.0,30.0,11.0
2018-03-30 12:00:00,ST5,8.0,6.0,28.7,2018.0,3.0,4.0,30.0,12.0
2018-03-30 13:00:00,ST5,9.0,4.0,27.3,2018.0,3.0,4.0,30.0,13.0
2018-03-30 14:00:00,ST5,6.0,9.0,31.1,2018.0,3.0,4.0,30.0,14.0
2018-03-30 15:00:00,ST5,6.0,8.0,28.0,2018.0,3.0,4.0,30.0,15.0
2018-03-30 16:00:00,ST5,8.0,8.0,36.5,2018.0,3.0,4.0,30.0,16.0
2018-03-30 17:00:00,ST5,7.0,13.0,39.4,2018.0,3.0,4.0,30.0,17.0
2018-03-30 18:00:00,ST5,5.0,7.0,21.6,2018.0,3.0,4.0,30.0,18.0
2018-03-30 19:00:00,ST5,6.0,5.0,21.2,2018.0,3.0,4.0,30.0,19.0
2018-03-30 20:00:00,ST5,4.0,4.0,18.7,2018.0,3.0,4.0,30.0,20.0
2018-03-30 21:00:00,ST5,5.0,5.0,19.9,2018.0,3.0,4.0,30.0,21.0
2018-03-30 22:00:00,ST5,12.0,4.0,16.2,2018.0,3.0,4.0,30.0,22.0
2018-03-30 23:00:00,ST5,9.0,7.0,14.4,2018.0,3.0,4.0,30.0,23.0
2018-03-31 00:00:00,ST5,9.0,7.0,14.4,2018.0,3.0,5.0,31.0,0.0

In [37]:
# Check if all values exist
for name in station_group_test:
    print(station_group_test[name].isnull().sum())

station_id            0
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
time_year             0
time_month            0
time_week             0
time_day              0
time_hour             0
dtype: int64
station_id            0
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
time_year             0
time_month            0
time_week             0
time_day              0
time_hour             0
dtype: int64
station_id            0
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
time_year             0
time_month            0
time_week             0
time_day              0
time_hour             0
dtype: int64
station_id            0
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
time_year             0
time_month            0
time_week             0
time_day              0
time_hour             0
dtype: int64
station_id            0
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
time_year             0
time_month            0
time_week             0
time_day              0
time_hour             0
dtype: int64
station_id            0
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
time_year             0
time_month            0
time_week             0
time_day              0
time_hour             0
dtype: int64
station_id            0
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
time_year             0
time_month            0
time_week             0
time_day              0
time_hour             0
dtype: int64
station_id            0
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
time_year             0
time_month            0
time_week             0
time_day              0
time_hour             0
dtype: int64
station_id            0
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
time_year             0
time_month            0
time_week             0
time_day              0
time_hour             0
dtype: int64
station_id            0
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
time_year             0
time_month            0
time_week             0
time_day              0
time_hour             0
dtype: int64
station_id            0
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
time_year             0
time_month            0
time_week             0
time_day              0
time_hour             0
dtype: int64
station_id            0
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
time_year             0
time_month            0
time_week             0
time_day              0
time_hour             0
dtype: int64
station_id            0
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
time_year             0
time_month            0
time_week             0
time_day              0
time_hour             0
dtype: int64
station_id            0
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
time_year             0
time_month            0
time_week             0
time_day              0
time_hour             0
dtype: int64
station_id            0
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
time_year             0
time_month            0
time_week             0
time_day              0
time_hour             0
dtype: int64
station_id            0
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
time_year             0
time_month            0
time_week             0
time_day              0
time_hour             0
dtype: int64
station_id            0
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
time_year             0
time_month            0
time_week             0
time_day              0
time_hour             0
dtype: int64
station_id            0
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
time_year             0
time_month            0
time_week             0
time_day              0
time_hour             0
dtype: int64
station_id            0
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
time_year             0
time_month            0
time_week             0
time_day              0
time_hour             0
dtype: int64
station_id            0
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
time_year             0
time_month            0
time_week             0
time_day              0
time_hour             0
dtype: int64
station_id            0
PM25_Concentration    0
PM10_Concentration    0
NO2_Concentration     0
time_year             0
time_month            0
time_week             0
time_day              0
time_hour             0
dtype: int64

In [2]:
# get the extra dataset range from 2018-03-31 07:00:00 to 2018-06-26 09:00:00

respones = requests.get('https://biendata.com/competition/airquality/ld/2018-03-27-00/2018-06-30-00/2k0d1d8')
with open("London/London_historical_air_extend.csv", 'w') as f:
    f.write(respones.text)
respones = requests.get('https://biendata.com/competition/meteorology/ld_grid/2018-03-27-00/2018-06-30-00/2k0d1d8')
with open("London/London_historical_meo_grid_extend.csv", 'w') as f:
    f.write(respones.text)
df1 = pd.read_csv("London/London_historical_air_extend.csv")
df1

,id,station_id,time,PM25_Concentration,PM10_Concentration,NO2_Concentration,CO_Concentration,O3_Concentration,SO2_Concentration
0,2941506,CD1,2018-03-31 07:00:00,9.9,14.3,70.4,NaN,NaN,NaN
1,2941507,BL0,2018-03-31 07:00:00,8.5,8.8,44.8,NaN,NaN,NaN
2,2941508,GR4,2018-03-31 07:00:00,4.8,8.9,16.5,NaN,NaN,NaN
3,2941509,MY7,2018-03-31 07:00:00,9.3,10.4,NaN,NaN,NaN,NaN
4,2941510,HV1,2018-03-31 07:00:00,8.6,10.5,35.7,NaN,NaN,NaN
5,2941511,GN3,2018-03-31 07:00:00,7.4,10.6,48.9,NaN,NaN,NaN
6,2941512,GR9,2018-03-31 07:00:00,3.8,6.6,36.5,NaN,NaN,NaN
7,2941513,LW2,2018-03-31 07:00:00,14.4,24.1,43.3,NaN,NaN,NaN
8,2941514,GN0,2018-03-31 07:00:00,7.4,13.1,57.5,NaN,NaN,NaN
9,2941515,KF1,2018-03-31 07:00:00,5.9,6.9,NaN,NaN,NaN,NaN
10,2941516,CD9,2018-03-31 07:00:00,13.1,12.9,41.8,NaN,NaN,NaN
11,2941517,CT3,2018-03-31 07:00:00,NaN,12.6,27.3,NaN,NaN,NaN
12,2941518,CT2,2018-03-31 07:00:00,5.0,NaN,NaN,NaN,NaN,NaN
13,2941519,BX9,2018-03-31 07:00:00,7.0,NaN,NaN,NaN,NaN,NaN
14,2941520,BX1,2018-03-31 07:00:00,NaN,10.1,22.0,NaN,NaN,NaN
15,2941521,TH4,2018-03-31 07:00:00,10.0,19.7,58.9,NaN,NaN,NaN
16,2941522,ST5,2018-03-31 07:00:00,3.0,4.0,17.3,NaN,NaN,NaN
17,2941523,RB7,2018-03-31 07:00:00,NaN,15.0,22.0,NaN,NaN,NaN
18,2941524,TD5,2018-03-31 07:00:00,8.7,NaN,NaN,NaN,NaN,NaN
19,2941562,CD1,2018-03-31 08:00:00,10.9,10.7,37.6,NaN,NaN,NaN
20,2941563,BL0,2018-03-31 08:00:00,4.9,10.8,68.1,NaN,NaN,NaN
21,2941564,GR4,2018-03-31 08:00:00,9.1,7.1,14.9,NaN,NaN,NaN
22,2941565,MY7,2018-03-31 08:00:00,10.9,14.3,NaN,NaN,NaN,NaN
23,2941566,HV1,2018-03-31 08:00:00,5.6,7.0,24.2,NaN,NaN,NaN
24,2941567,GN3,2018-03-31 08:00:00,13.0,17.8,59.4,NaN,NaN,NaN
25,2941568,GR9,2018-03-31 08:00:00,7.8,9.7,29.5,NaN,NaN,NaN
26,2941569,LW2,2018-03-31 08:00:00,18.6,29.7,57.5,NaN,NaN,NaN
27,2941570,GN0,2018-03-31 08:00:00,12.6,18.0,67.2,NaN,NaN,NaN
28,2941571,KF1,2018-03-31 08:00:00,5.3,6.6,NaN,NaN,NaN,NaN
29,2941572,CD9,2018-03-31 08:00:00,8.9,11.5,48.8,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
39601,3052719,GN0,2018-06-26 08:00:00,14.4,23.3,59.5,NaN,NaN,NaN
39602,3052720,KF1,2018-06-26 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN
39603,3052721,CD9,2018-06-26 08:00:00,NaN,NaN,142.3,NaN,NaN,NaN
39604,3052722,CT3,2018-06-26 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN
39605,3052723,CT2,2018-06-26 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN
39606,3052724,BX9,2018-06-26 08:00:00,10.6,NaN,NaN,NaN,NaN,NaN
39607,3052725,BX1,2018-06-26 08:00:00,NaN,20.4,24.8,NaN,NaN,NaN
39608,3052726,TH4,2018-06-26 08:00:00,15.0,24.7,38.1,NaN,NaN,NaN
39609,3052727,ST5,2018-06-26 08:00:00,NaN,NaN,20.4,NaN,NaN,NaN
39610,3052728,RB7,2018-06-26 08:00:00,12.0,19.4,24.0,NaN,NaN,NaN
39611,3052729,TD5,2018-06-26 08:00:00,11.6,NaN,NaN,NaN,NaN,NaN
39612,3052767,CD1,2018-06-26 09:00:00,18.3,34.1,105.9,NaN,NaN,NaN
39613,3052768,BL0,2018-06-26 09:00:00,10.1,15.8,43.2,NaN,NaN,NaN
39614,3052769,GR4,2018-06-26 09:00:00,7.8,16.3,14.3,NaN,NaN,NaN
39615,3052770,MY7,2018-06-26 09:00:00,NaN,1.8,NaN,NaN,NaN,NaN
39616,3052771,HV1,2018-06-26 09:00:00,4.8,15.7,24.9,NaN,NaN,NaN
39617,3052772,GN3,2018-06-26 09:00:00,13.4,18.2,20.6,NaN,NaN,NaN
39618,3052773,GR9,2018-06-26 09:00:00,11.2,21.2,63.9,NaN,NaN,NaN
39619,3052774,LW2,2018-06-26 09:00:00,9.4,26.6,69.5,NaN,NaN,NaN
39620,3052775,GN0,2018-06-26 09:00:00,11.5,23.5,44.0,NaN,NaN,NaN
39621,3052776,KF1,2018-06-26 09:00:00,7.1,18.0,NaN,NaN,NaN,NaN
39622,3052777,CD9,2018-06-26 09:00:00,NaN,NaN,128.1,NaN,NaN,NaN
39623,3052778,CT3,2018-06-26 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN
39624,3052779,CT2,2018-06-26 09:00:00,12.0,NaN,NaN,NaN,NaN,NaN
39625,3052780,BX9,2018-06-26 09:00:00,9.7,NaN,NaN,NaN,NaN,NaN
39626,3052781,BX1,2018-06-26 09:00:00,NaN,17.9,19.3,NaN,NaN,NaN
39627,3052782,TH4,2018-06-26 09:00:00,14.9,24.1,33.7,NaN,NaN,NaN
39628,3052783,ST5,2018-06-26 09:00:00,8.0,22.0,25.4,NaN,NaN,NaN
39629,3052784,RB7,2018-06-26 09:00:00,15.0,21.4,20.2,NaN,NaN,NaN
39630,3052785,TD5,2018-06-26 09:00:00,11.2,NaN,NaN,NaN,NaN,NaN

In [3]:
df2 = pd.read_csv("London/London_historical_meo_grid_extend.csv")
df2

,id,station_id,time,weather,temperature,pressure,humidity,wind_direction,wind_speed
0,2000096,london_grid_000,2018-03-31 07:00:00,CLOUDY,6.14,995.3492,85.0,304.13,21.98
1,2000097,london_grid_001,2018-03-31 07:00:00,CLOUDY,5.43,994.1751,88.0,303.32,18.90
2,2000098,london_grid_002,2018-03-31 07:00:00,CLOUDY,4.73,993.0009,91.0,302.20,15.82
3,2000099,london_grid_003,2018-03-31 07:00:00,RAIN,4.25,990.1415,93.0,303.02,14.06
4,2000100,london_grid_004,2018-03-31 07:00:00,RAIN,3.99,985.5967,95.0,306.29,13.63
5,2000101,london_grid_005,2018-03-31 07:00:00,RAIN,3.72,981.0520,97.0,309.77,13.25
6,2000102,london_grid_006,2018-03-31 07:00:00,RAIN,3.75,980.3165,96.0,317.36,14.03
7,2000103,london_grid_007,2018-03-31 07:00:00,RAIN,3.78,979.5811,96.0,324.05,15.03
8,2000104,london_grid_008,2018-03-31 07:00:00,RAIN,3.86,979.8812,96.0,329.24,15.90
9,2000105,london_grid_009,2018-03-31 07:00:00,RAIN,3.98,981.2169,96.0,333.36,16.58
10,2000106,london_grid_010,2018-03-31 07:00:00,RAIN,4.09,982.5527,96.0,337.13,17.33
11,2000107,london_grid_011,2018-03-31 07:00:00,RAIN,3.93,980.4964,96.0,338.72,17.39
12,2000108,london_grid_012,2018-03-31 07:00:00,RAIN,3.77,978.4402,97.0,340.29,17.46
13,2000109,london_grid_013,2018-03-31 07:00:00,RAIN,3.75,978.0824,97.0,342.22,17.25
14,2000110,london_grid_014,2018-03-31 07:00:00,RAIN,3.87,979.4233,96.0,344.63,16.75
15,2000111,london_grid_015,2018-03-31 07:00:00,RAIN,4.00,980.7641,96.0,347.18,16.29
16,2000112,london_grid_016,2018-03-31 07:00:00,RAIN,4.15,981.8976,95.0,352.20,15.92
17,2000113,london_grid_017,2018-03-31 07:00:00,RAIN,4.30,983.0311,94.0,357.40,15.68
18,2000114,london_grid_018,2018-03-31 07:00:00,RAIN,4.35,982.3056,93.0,2.82,15.60
19,2000115,london_grid_019,2018-03-31 07:00:00,RAIN,4.30,979.7209,91.0,8.33,15.70
20,2000116,london_grid_020,2018-03-31 07:00:00,RAIN,4.24,977.1363,90.0,13.73,15.94
21,2000117,london_grid_021,2018-03-31 07:00:00,CLOUDY,6.13,995.3840,85.0,299.54,21.42
22,2000118,london_grid_022,2018-03-31 07:00:00,CLOUDY,5.48,994.3427,88.0,298.56,18.37
23,2000119,london_grid_023,2018-03-31 07:00:00,CLOUDY,4.83,993.3014,91.0,297.19,15.33
24,2000120,london_grid_024,2018-03-31 07:00:00,RAIN,4.37,990.8408,93.0,297.59,13.40
25,2000121,london_grid_025,2018-03-31 07:00:00,RAIN,4.11,986.9607,95.0,300.45,12.59
26,2000122,london_grid_026,2018-03-31 07:00:00,RAIN,3.84,983.0806,96.0,303.69,11.81
27,2000123,london_grid_027,2018-03-31 07:00:00,RAIN,3.84,981.3666,96.0,312.15,12.42
28,2000124,london_grid_028,2018-03-31 07:00:00,RAIN,3.83,979.6526,96.0,319.66,13.28
29,2000125,london_grid_029,2018-03-31 07:00:00,RAIN,3.87,979.1032,96.0,325.85,14.12
...,...,...,...,...,...,...,...,...,...
1736432,5102139,london_grid_831,2018-06-26 11:00:00,PARTLY_CLOUDY_DAY,14.61,1027.8396,82.0,55.59,15.91
1736433,5102140,london_grid_832,2018-06-26 11:00:00,PARTLY_CLOUDY_DAY,14.65,1027.9008,81.0,56.94,15.44
1736434,5102141,london_grid_833,2018-06-26 11:00:00,PARTLY_CLOUDY_DAY,14.68,1027.9621,80.0,58.68,15.20
1736435,5102142,london_grid_834,2018-06-26 11:00:00,PARTLY_CLOUDY_DAY,14.70,1028.0234,80.0,60.49,14.96
1736436,5102143,london_grid_835,2018-06-26 11:00:00,PARTLY_CLOUDY_DAY,14.83,1028.0369,79.0,62.44,14.59
1736437,5102144,london_grid_836,2018-06-26 11:00:00,PARTLY_CLOUDY_DAY,14.95,1028.0505,78.0,64.50,14.23
1736438,5102145,london_grid_837,2018-06-26 11:00:00,PARTLY_CLOUDY_DAY,15.06,1028.0717,78.0,65.55,13.82
1736439,5102146,london_grid_838,2018-06-26 11:00:00,PARTLY_CLOUDY_DAY,15.15,1028.1007,77.0,65.53,13.34
1736440,5102147,london_grid_839,2018-06-26 11:00:00,PARTLY_CLOUDY_DAY,15.24,1028.1297,77.0,65.51,12.86
1736441,5102148,london_grid_840,2018-06-26 11:00:00,PARTLY_CLOUDY_DAY,20.45,1012.4966,61.0,40.52,16.96
1736442,5102149,london_grid_841,2018-06-26 11:00:00,PARTLY_CLOUDY_DAY,20.02,1013.2761,61.0,39.46,17.23
1736443,5102150,london_grid_842,2018-06-26 11:00:00,PARTLY_CLOUDY_DAY,19.60,1014.0555,62.0,38.43,17.50
1736444,5102151,london_grid_843,2018-06-26 11:00:00,PARTLY_CLOUDY_DAY,18.81,1016.9789,65.0,38.24,18.10
1736445,5102152,london_grid_844,2018-06-26 11:00:00,PARTLY_CLOUDY_DAY,17.66,1022.0464,69.0,38.83,19.02
1736446,5102153,london_grid_845,2018-06-26 11:00:00,PARTLY_CLOUDY_DAY,16.51,1027.1138,74.0,39.37,19.94
1736447,5102154,london_grid_846,2018-06-26 11:00:00,PARTLY_CLOUDY_DAY,15.78,1027.2754,78.0,42.02,19.93
1736448,5102155,london_grid_847,2018-06-26 11:00:00,PARTLY_CLOUDY_DAY,15.04,1027.4371,82.0,44.68,19.97
1736449,5102156,london_grid_848,2018-06-26 11:00:00,PARTLY_CLOUDY_DAY,14.65,1027.5514,84.0,46.96,19.51
1736450,5102157,london_grid_849,2018-06-26 11:00:00,PARTLY_CLOUDY_DAY,14.60,1027.6185,84.0,49.03,18.54
1736451,5102158,london_grid_850,2018-06-26 11:00:00,PARTLY_CLOUDY_DAY,14.54,1027.6856,84.0,51.32,17.60
1736452,5102159,london_grid_851,2018-06-26 11:00:00,PARTLY_CLOUDY_DAY,14.57,1027.7549,83.0,51.35,16.93
1736453,5102160,london_grid_852,2018-06-26 11:00:00,PARTLY_CLOUDY_DAY,14.60,1027.8242,82.0,51.37,16.26
1736454,5102161,london_grid_853,2018-06-26 11:00:00,PARTLY_CLOUDY_DAY,14.58,1027.8948,81.0,51.91,15.79
1736455,5102162,london_grid_854,2018-06-26 11:00:00,PARTLY_CLOUDY_DAY,14.51,1027.9667,81.0,52.99,15.52
1736456,5102163,london_grid_855,2018-06-26 11:00:00,PARTLY_CLOUDY_DAY,14.43,1028.0385,81.0,54.11,15.26
1736457,5102164,london_grid_856,2018-06-26 11:00:00,PARTLY_CLOUDY_DAY,14.39,1028.0827,80.0,56.20,14.86
1736458,5102165,london_grid_857,2018-06-26 11:00:00,PARTLY_CLOUDY_DAY,14.35,1028.1269,80.0,58.41,14.49
1736459,5102166,london_grid_858,2018-06-26 11:00:00,PARTLY_CLOUDY_DAY,14.33,1028.1724,80.0,59.70,14.05
1736460,5102167,london_grid_859,2018-06-26 11:00:00,PARTLY_CLOUDY_DAY,14.32,1028.2193,80.0,59.99,13.55
1736461,5102168,london_grid_860,2018-06-26 11:00:00,PARTLY_CLOUDY_DAY,14.31,1028.2662,80.0,60.30,13.04

In [ ]:
# maybe-todo: pre-processing the extra dataset